<h1>messges</h1>

<% if @messages.present? %>
  <% @messages.each do |message| %>
  <% if !message.is_public %>未公開<% end %><br>
    <%= link_to message_path(message), class: "c-message__item__link" do %>
      <% if message.image.present? %>
        <%= image_tag message.image, alt: message.text %>
      <% end %>

      <% if current_user == message.author %>
        <%= link_to "編集する", edit_message_path(message) %><br>
      <% end %>
    <% end %>

    <a class="p-sns--twitter" href="http://twitter.com/intent/tweet?url=<%= root_url(only_path: false) %>messages/<%= message.url_token %>&text=<%= message.text %>&hashtags=example%2Cdemo" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" sl-processed="1">tweet</a>

  <% end %>
<% end %>